.App {
    text-align: center;
  }
  
.App-logo {
    height: 40vmin;
    // pointer-events: none;
    // :hover{
    //     cursor: 
    // }
}

@media (prefers-reduced-motion: no-preference) {
/* .App-logo {
    animation: App-logo-spin infinite 20s linear;
} */
}

.App-header {
    background-color: #F5CAB7;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Grid-container {
    display: flex;
    padding: 10vw 5vw;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Grid-image {
    max-width: 24vw;
}

.Thumbnail-container {
    padding: 1vw;
}

.modal-bckg {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-box {
    display: block;
    padding: 5vh;
    width: 70vw;
    background-color: #fefefe;
    margin: auto;
    @media only screen and (max-width: 769px){
        display: block;
        max-width: 75vw;
        overflow: auto; 
    }
}

.modal-content {
    display: flex;
    padding: 1vw 3vw;
    max-height: 65vh;
    color: #888;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    img {
        height: 100%;
        max-height: 55vh;
        max-width: 50%;
        object-fit: contain;
    }
    p {
        overflow: auto; 
        padding: 0rem 2rem;
        margin-block-start: 0px; /* Overides default margin */
    }
    @media only screen and (max-width: 769px){
        display: block;
        padding: 0;
        max-height: 75vh;
        text-align: center;
        img {
            max-width: 80%;
        }
        p {
            overflow: unset;
            padding: 2rem 2rem;
        }
    }
}

.modal-close {
    text-align: right;
    color: #aaaaaa;
    font-size: 20px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.carousel{
    display: block;
    button {
        border-radius: 100%;
        padding: 0.25rem;
        margin: 0.25rem;
        border: none;
        background-color: #ddd;
        &:hover {
            background-color: #aaa;
        }
    }
}