@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;800&display=swap');

$color-brown: #84614f;
$color-sand: #DDA479;
$color-pink: #F5CAB7;
$color-grey-light: #DDD;
$color-grey-dark: #888;
$breakpoint-small: 769px;
$breakpoint-large: 1366px;

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('./Images/fyv_hero.jpg');
    background-attachment: fixed;
    background-size: 100% auto;
    background-position-y: 5vh;
    font-family: 'Trispace', sans-serif;
    color: $color-grey-dark;

    h1 {
        font-family: 'Figtree', sans-serif;
        margin-block-start: 0;
        margin-block-end: 0;
        color: $color-sand;
        font-size: 4vmin;
    }

    p {
        margin-bottom: 10px;
    }

    span {
        color: $color-sand;
        font-weight: bold;
    }

}

.navbar {
    z-index: 3;
    background-color: $color-brown;
    color: $color-pink;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    font-family: 'Figtree', sans-serif;
    letter-spacing: 0.3rem;
    font-size: calc(2.5vmin);

    &--expanded {
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
    }

    &__logo {
        position: relative;

        &--small {
            min-height: 2vw;
            max-height: 3.5vh;
            margin: 2.5vw;
        }

        &--large {
            height: 20vh;
            margin: 20vw;
        }
    }

    &__button {
        display: none;
        position: relative;
        height: 5vw;
        width: 5vw;
        max-height: 90%;
        padding: 3vw;

        svg {
            fill: $color-pink;
        }

        @media only screen and (max-width: $breakpoint-large) {
            display: flex;
        }

        &--expanded {
            position: fixed;
            top: 0;
            right: 0;
            padding: 3vw;
        }
    }


    &__routes {
        width: auto;
        display: flex;
        align-items: center;

        @media only screen and (max-width: $breakpoint-large) {
            display: none;
        }

        &--expanded {
            display: inline-flex;
            flex-direction: column;
            height: 50%;
            justify-content: space-around;
            margin-bottom: 10vh;

        }
    }

    &__route {

        &--active {
            color: white;
        }

        @media only screen and (max-width: $breakpoint-large) {
            font-size: 3vmin;
        }

        @media only screen and (max-width: $breakpoint-small) {
            font-size: 5vmin;
        }
    }

    a {
        white-space: nowrap;
        text-decoration: none;
        color: $color-pink;
        margin: 1vw;
        display: flex;
        align-items: center;

        &:hover {
            color: white;
        }

    }
}

.header {
    img {
        top: 0px;
        position: relative;
        width: 100%;
        top: 5vh;
    }
}

.section {

    &__container {
        display: flex;
        padding: 5vw 5vw;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__title {
        text-align: left;
        padding-top: 6vw;
        padding-bottom: 1vw;
        border-bottom: 0.5vh solid $color-pink;
        margin-left: 11.5vw;
    }

    &__img {
        margin: 1vw;
        max-width: 24vw;
        transition: box-shadow 100ms;
        box-shadow: 0.5vw 0.5vw white;

        &:hover {
            cursor: pointer;
            box-shadow: 0.5vw 0.5vw $color-grey-light;
        }
    }

}

.modal {

    &__bckg {
        position: fixed;
        z-index: 4;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    &__button {
        position: fixed;
        top: 40vh;
        height: 3vw;
        width: 3vw;
        margin: 2vw;
        z-index: 6;
        background-color: $color-pink;
        ;
        border-radius: 100%;
        fill: $color-brown;

        &--previous {
            left: 0;
        }

        &--next {
            right: 0;
        }

        @media only screen and (max-width: $breakpoint-small) {
            margin: 4vw;
            height: 10vw;
            width: 10vw;
        }
    }

    &__box {
        position: fixed;
        z-index: 5;
        top: 6vh;
        overflow: auto;
        display: block;
        padding: 1vw 2vw 4vw 2vw;
        width: 75vw;
        height: auto;
        background-color: white;

        @media only screen and (max-width: $breakpoint-small) {
            display: block;
            width: 80vw;
            height: 85vh;
            padding: 1vw;
            overflow: auto;
        }
    }

    &__content {
        display: flex;
        padding: 1vw 1vw;
        max-height: 70vh;

        @media only screen and (max-width: $breakpoint-small) {
            display: block;
        }

    }

    &__text {
        overflow: auto;
        padding: 0rem 2rem;
        color: $color-grey-dark;

        p {
            margin-block-start: 0px;
        }

        @media only screen and (max-width: $breakpoint-small) {
            padding: 7vw;
            overflow: unset;
            font-size: 3vmin;
        }

    }

    &__img {
        display: block;
        text-align: center;
        min-width: 45%;

        img {
            width: 100%;
            max-height: 60vh;
            object-fit: contain;

            @media only screen and (max-width: $breakpoint-small) {
                max-width: 80%;
            }
        }
    }

    &__close {
        text-align: right;
        color: $color-sand;
        font-size: 2rem;
        font-weight: bold;

        span {
            &:hover {
                cursor: pointer;
                color: $color-brown;
                text-decoration: none;
            }
        }
    }


    &__carousel {
        border-radius: 100%;
        padding: 0.3rem;
        margin: 0.3rem;
        border: none;
        background-color: $color-grey-light;

        &:hover {
            cursor: pointer;
            background-color: $color-sand;
        }

        &--selected {
            background-color: $color-pink;
        }
    }
}

.about {
    padding: 5vw 11.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(white, 0.5);

    &__info {
        width: 30vw;
        margin-right: 3vw;

        @media only screen and (max-width: $breakpoint-small) {
            width: 70vw;
        }
    }

    &__bio {
        width: 40vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        @media only screen and (max-width: $breakpoint-small) {
            width: 70vw;
        }
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 18vw;

        @media only screen and (max-width: $breakpoint-small) {
            width: 70vw;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-top: 2vh;

            p {
                margin-top: 0;
                margin-left: 3vw;
            }
        }

        img {
            width: 18vw;
            height: 18vw;
            margin-bottom: 2vh;
            object-fit: cover;
        }
    }
}

.footer {
    position: relative;
    background-color: $color-pink;
    color: $color-brown;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 9vw;

    @media only screen and (max-width: $breakpoint-small) {
        flex-direction: column;
    }

    &__contact {
        display: flex;
        align-items: center;

        h3 {
            font-size: calc(10px + 1vmin);
            margin: 2vh;
        }

        @media only screen and (max-width: $breakpoint-small) {
            flex-direction: column;
        }
    }

    &__logo {
        height: 10vh;
        animation: footer__logo-spin infinite 20s linear;

        &:hover {
            cursor: pointer;
        }
    }

    &__insta {
        height: 3vh;
    }
}

@keyframes footer__logo-spin {
    from {
        transform: rotate(0deg)
    }

    ;

    to {
        transform: rotate(360deg)
    }

    ;
}